<?php if (isset($error)): ?>
     <p class="error"><?php echo $error; ?> </p>
<?php endif ?>

<form id="register" action="?page=register" method="POST">
	
	Username:* <br>
	<input type="text" name="user" value=""><br/>
	
	Password:* <br>
	<input type="password" name="pass"><br/>
	
	Password again:*<br>
	<input type="password" name="pass2" onblur="validatePassword()">
	<span id="wrongpass" class="error"></span><br/>
	
	E-mail:*<br>
	<input type="text" name="email" onblur="validateEmail()">
	<span id="wrongemail" class="error"></span><br>
	
	Full name:*<br>
	<input type="text" name="name" value=""><br>
	
	<input type="submit" value="Register">
</form>

				
	