<?php if (isset($error)): ?>
     <p class="error"><?php echo $error; ?> </p>
<?php endif ?>

<form id="add" action="?page=add" method="POST">
	
	<p>Dog's full name with kennel name:<p><br>
	<input type="text" name="dogname"size="60"><br/>
	
	<p>Owner's full name:<p><br>
	<input type="text" name="owner" size="60"><br/>
	
	<p>Test result:<p><br>
	<input type="text" name="result" size="60"><br/>
	
	<p>Country:<p><br>
	<input type="text" name="country" size="60"><br/>
	
	<p>Comments:<p><br>
	<input type="text" name="comment" size="60"><br/>
	<input type="submit" value="Save">
	
	
</form>

	
