<?php if (isset($error)): ?>
     <p class="error"><?php echo $error; ?> </p>
<?php endif ?>
					
<form id="register" action="?page=register" method="POST">
	
	<p>Username:* <p><br>
	<input type="text" name="user" value=""><br/>
	
	<p>Password:* <p><br>
	<input type="password" name="pass"><br/>
	
	<p>Password again:*<p><br>
	<input type="password" name="pass2" onblur="validatePassword()">
	<span id="wrongpass" class="error"></span><br/>
	
	<p>E-mail:*<p><br>
	<input type="text" name="email" onblur="validateEmail()">
	<span id="wrongemail" class="error"></span><br>
	
	<p>Full name:*<p><br>
	<input type="text" name="name" value=""><br>
	
	<input type="submit" value="Register">
</form>
				
	